* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f3f3;
    color: #222;
}



header {
    background-color: #000;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

header img {
    width: 18rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul>li {
    font-size: 1.2rem;
}

ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all .3s;
}

ul a:hover {
    color: #00e0ff;
}



main {
    min-height: 100vh;
}



.hero {
    background-color: #2b2b2b;
    color: #fff;
    padding: 40px 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-texto h1 {
    font-size: 2.6rem;
    margin-bottom: 15px;
}

.hero-texto p {
    max-width: 550px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero-imagem img {
    max-width: 380px;
    width: 100%;
    border-radius: 6px;
}

.btn-primario,
.btn-secundario {
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-primario {
    background-color: #00cfff;
    color: #000;
}

.btn-primario:hover {
    filter: brightness(1.1);
}

.btn-secundario {
    background-color: #000;
    color: #fff;
}

.btn-secundario:hover {
    background-color: #333;
}



.beneficios {
    padding: 40px 8vw;
    background-color: #ffffff;
}

.beneficios h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
}

.beneficios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.beneficios-grid article {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.beneficios-grid h3 {
    margin-bottom: 10px;
}



.categorias {
    padding: 40px 8vw;
    background-color: #222;
    color: #fff;
}

.categorias h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
}

.categorias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.categoria-card {
    background-color: #333;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.categoria-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

.categoria-card h3 {
    margin: 10px 0 5px;
}



.produtos {
    padding: 40px 8vw;
    background-color: #3a3a3a;
    color: #fff;
}

.produtos h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.produto-card {
    background-color: #222;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.produto-card img {
    width: 100%;
    height: 220px;
    object-fit: contain;

}

.produto-card h3 {
    margin: 10px 15px 5px;
    font-size: 1.1rem;
}

.produto-descricao {
    margin: 0 15px 10px;
    font-size: 0.9rem;
    color: #d6d6d6;
}

.produto-preco {
    margin: 0 15px 10px;
    font-weight: bold;
    color: #00e0ff;
}

.produto-card .btn-secundario {
    margin: 0 15px;
    width: calc(100% - 30px);
    text-align: center;
}



.sobre {
    padding: 40px 8vw;
    background-color: #e9faff;
}


.sobre h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.sobre p {
    max-width: 800px;
    margin: 0 auto 10px;
    line-height: 1.6;
}



.contato {
    padding: 30px 8vw 60px;
    background-color: #e9faff;
    min-height: 100vh
}

.contato h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.contato p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 25px;
}

.contato-grid {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 30px;
    align-items: flex-start;
}

.contato-grid h3 {
    margin-bottom: 8px;
}

.contato-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.contato-form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}



footer {
    background-color: black;
    color: white;
    padding: 12px 0;
    text-align: center;
    font-size: 0.9rem;
}

body.pagina-loja {
    background-color: #3a3a3a;
}


@media (max-width: 1000px) {
    .beneficios-grid {
        grid-template-columns: 1fr 1fr;
    }

    .categorias-grid {
        grid-template-columns: 1fr 1fr;
    }

    .produtos-grid {
        grid-template-columns: 1fr 1fr;
    }

    .contato-grid {
        grid-template-columns: 1fr !important;
    }

    header {
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
    }
}

@media (max-width: 650px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .beneficios-grid,
    .categorias-grid,
    .produtos-grid {
        grid-template-columns: 1fr;
    }

    header>img {
        width: 14rem;
    }
}

.contato-grid {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 30px;
    margin-top: 20px;
    align-items: stretch;
}

.contato-coluna-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 100%;
}


.contato-info-item {
    background: white;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    min-height: 130px;
}

.contato-icone-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
}

.contato-info-item>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.filtros {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filtro-btn {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    font-size: 0.9rem;
}

.filtro-btn.ativo {
    border-color: #00e0ff;
    background: #00e0ff;
    color: #fff;
    font-weight: bold;
    color: #000;
}

body.pagina-sobre {
    background-color: #e9faff;
}